In [1]:
import json
import requests

In [2]:
data = [
"1055620304465215616", "1057418989293485952"
]
json_string = json.dumps(data)

In [3]:
url = 'https://recruitment.aimtechnologies.co/ai-tasks'
response = requests.post(url, data = json_string)

In [4]:
response.text

'{"1055620304465215616":"@MahmoudWaked7 @maganenoo في طريق مطروح مركز بهيج  والمركز الي الي جمبه اسمه ايه😂😂","1057418989293485952":"@mycousinvinnyys @hanyamikhail1 متهيالي دي شكولاته الهالوين  فين المحل ده"}'

In [5]:
import pandas as pd

In [6]:
data = pd.read_csv("dialect_dataset.csv")

In [29]:
response = requests.post(url, data = json.dumps(list(map(str,data.iloc[:1000]['id']))))

In [42]:
pd.DataFrame(dict(response.json()).items(),columns=['id','text'])

                      id                                               text
0    1175358310087892992   @Nw8ieJUwaCAAreT لكن بالنهاية .. ينتفض .. يغير .
1    1175416117793349632  @7zNqXP0yrODdRjK يعني هذا محسوب على البشر .. ح...
2    1175450108898565888                    @KanaanRema مبين من كلامه خليجي
3    1175471073770573824         @HAIDER76128900 يسلملي مرورك وروحك الحلوه💐
4    1175496913145217024                 @hmo2406 وين هل الغيبه  اخ محمد 🌸🌺
..                   ...                                                ...
995  1136965864962625536  @NABAA71243942 لا عيني هاي هسه هيج صارات قبل ت...
996  1136967120162557952  @NABAA71243942 اي لان فاسد لان جاي على الفساد ...
997  1136968047879696384           @NABAA71243942 ما بقى شي اقصد من العمر 😂
998  1136972705079725952  @aarrawi والله نتيجة مجتمع تعبان يعني المعدل م...
999  1136993095877349376  @NABAA71243942 لا والله مو المعدل الخلل الخلل ...

[1000 rows x 2 columns]

In [62]:
data.head()

                    id dialect
0  1175358310087892992      IQ
1  1175416117793349632      IQ
2  1175450108898565888      IQ
3  1175471073770573824      IQ
4  1175496913145217024      IQ

In [83]:
data_with_text = pd.DataFrame(columns=['id','text','dialect'])
with pd.read_csv("dialect_dataset.csv",chunksize=1000) as reader:
    for chunk in reader:
        response = requests.post(url, data = json.dumps(list(map(str,chunk['id']))))
        chunk['text'] = dict(response.json()).values()
        data_with_text = pd.concat([data_with_text , chunk])

In [84]:
# data_with_text = pd.DataFrame(columns=['id','text','dialect'])
# with pd.read_csv("dialect_dataset.csv",chunksize=1000) as reader:
#     for chunk in reader:
#         print(len(chunk))
#         response = requests.post(url, data = json.dumps(list(map(str,chunk['id']))))
#         data_response = pd.DataFrame(dict(response.json()).items(),columns=['id','text'])
#         print(len(data_response))
# #         data_retrieved = pd.concat([data_response , chunk['dialect']],axis=1)
# #         print(data_retrieved)
# #         data_with_text = pd.concat([data_with_text , data_retrieved])

In [85]:
data_with_text.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 458197 entries, 0 to 458196
Data columns (total 3 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       458197 non-null  object
 1   text     458197 non-null  object
 2   dialect  458197 non-null  object
dtypes: object(3)
memory usage: 14.0+ MB

In [86]:
data_with_text.to_csv('complete_raw_data.csv')